
.main_body {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px 0;
    margin-top: 20px;
  }
  
  .login {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
  }
  
  .login h1,
  .login h3 {
    color: #0072bc;
  }
  
  .login img {
    width: 100%;
    max-width: 200px;
    margin-top: 20px;
  }
  
  .btn {
    background-color: #0072bc;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .btn:hover {
    background-color: #005c95;
  }
  