.header {
    background-color: #004a8f;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }
  
  .header img {
    width: 100px;
    height: 100px;
    margin-right: 20px;
  }
  
  .portal_name {
    margin-left: 20px;
    font-size: 1.5em;
  }
  